<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">{{'User' | translate}}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/']">{{'Dashboard' | translate}}</a>
                        </li>
                        <li class="breadcrumb-item active">{{'User' | translate}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <h1>{{'UserGrid' | translate}}</h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td><b>id</b> </td>
                            <td><b>{{'UserTable.FirstName' | translate}}</b></td>
                            <td><b>{{'UserTable.LastName' | translate}}</b></td>
                            <td><b>{{'UserTable.Age' | translate}}</b></td>
                            <td class="d-flex justify-content-between">
                                <b>{{'Action.Action' | translate}}</b>
                                <button class="btn btn-success btn-sm" (click)="onAddUser()">
                                    {{'Action.Add' | translate}}
                                </button>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of listUser">
                            <td>{{user.id}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.age}}</td>
                            <td>
                                <button class="btn btn-secondary" (click)="onViewDetail(user.id)">
                                    {{'Action.View' | translate}}
                                </button>
                                |
                                <button class="btn btn-primary" (click)="onEdit(user.id)">
                                    {{'Action.Edit' | translate}}
                                </button>
                                |
                                <button class="btn btn-danger" (click)="onDelete(user.id)">
                                    {{'Action.Delete' | translate}}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <ng-container #popup></ng-container>
</div>