<div class="modal" id="modal-default" style="display: block; padding-right: 15px;" aria-modal="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Xác nhận xoá</h4>
        <button type="button" class="close" aria-label="Close" (click)="onClose()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xoá người dùng này ?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" (click)="onClose()">Huỷ</button>
        <button type="button" class="btn btn-primary" (click)="onSave()">Đồng ý</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop show"></div>